@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #111;
}

body {
  background: var(--background);
  color: var(--foreground);
  white-space: normal;

  word-break: keep-all;
  overflow-wrap: normal;
}

.strong {
  background-color: #111;
  border-radius: 4px;
  padding: 2px 6px;
}

.list-square {
  list-style: inside;
  list-style-type: circle;
}

.typo-headline {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.02em;
}

.typo-overview {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #666666;
}

.typo-sub-overview {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #333;
}

.typo-sub-headline {
  font-size: 15px;
  font-weight: 200;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #5f5f5f;
}

.typo-section-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.typo-section-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.45;
}

.typo-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.45;
  color: #111;
}

.typo-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  opacity: 0.95;
}

.typo-body-sub {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #555555;
}

.typo-navi {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
